.div-main {
  background-color: var(--bg-color);
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.toolbar {
  width: 83.2%;
  height: 80px;
  background-color: white;
  margin-top: 9px;
  display: flex;
  align-items: center;
}

.toolbar a {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}

.toolbar-l {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  margin-left: 2.5%;
}

.toolbar-m {
  width: 25%;
  height: 2.5vh;
  background-color: white;
  display: flex;
  align-items: center;
}

.toolbar-m option {
  background-color: blue;
  font-weight: 600;
}

.toolbar-r {
  display: flex;
  width: 25%;
  justify-content: space-around;
  align-items: center;

}

.toolbar a {
  font-family: 'Roboto', sans-serif;
}

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83.2%;
  height: 85vh;
  background-color: white;
}

div img {
  width: 75vw;
  height: 75vh;
}

.comment {
  display: flex;
  justify-content: center;
  height: 45vh;
  width: 83.2%;
  background-color: white;
  padding-top: 60px;
}

.big-comment {
  display: flex;
  justify-content: center;
  height: 71vh;
  width: 83.2%;
  background-color: white;
  padding-top: 60px;
}

.last-comment {
  display: flex;
  justify-content: center;
  height: 81vh;
  width: 83.2%;
  background-color: white;
  padding-top: 60px;
}

.body-text {
  width: 42vw;
  text-align: justify;
}

h1 a {
  color: blue;
}

.firstimage {
  width: 83.2%;
  height: 90vh;
  background-color: aqua;
}

.imagenscontent1 {
  width: 83.2%;
  height: 45vw;
  display: flex;
  background-color: white;
}

.img1l {
  width: 40vw;

}

.img1r {
  width: 60vw;
  background-color: white;
}

.video1 {
  width: 83.2%;
  height: 35vw;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

div iframe {
  width: 83vh;
  height: 27vw;
}

.img2l {
  width: 60vw;
  background-color: #B6FFC0;
}

.img2r {
  width: 40vw;

}

.imagenscontent2 {
  width: 83.2%;
  height: 52vw;
  display: flex;
  background-color: white;
}

.thirdimage {
  background-color: white;
  width: 83.2%;
  height: 85vh;
}

.fourthimage {
  background-color: white;
  width: 83.2%;
  height: 100vh;
}

.img3 {
  width: 55vw;
  background-color: #D5B3FF;
}

.imagenscontent3 {
  width: 83.2%;
  height: 52vw;
  display: flex;
  background-color: white;
  justify-content: center;
}

.lastcomment {
  width: 83.2%;
  height: 85vh;
  background-color: white;
}

.last-image {
  width: 35vw;
}

.lastcomment-container {
  width: 80vw;
  height: 84vh;
}

.commentlast {
  width: 50vw;
  height: 29vh;
  background-color: #B1C5FF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer {
  width: 83.2%;
  height: 85vh;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.title-footer {
  width: 70vw;
  height: 5vh;
  display: flex;
  background-color: white;
}


.footer-body {
  width: 70vw;
  height: 50vh;
  display: flex;
  margin-top: 2vh;
  background-color: white;
  flex-wrap: wrap;
}

.footer-item {
  width: 300px;
  height: 20vh;
  background-color: white;
  margin-right: 3vw;
  margin-bottom: 3vh;
}

.footer-item a {
  margin-bottom: 1vh;
  color: black;
}

.footer-item h3 {
  margin-bottom: 1vh;
}

.footer-item a {
  margin-bottom: 1vh;
}

.footer-footer {
  width: 70vw;
  height: 5vh;
  background-color: white;
}

.footer-footer a {
  font-size: 0.8rem;
  margin-right: 0.5vw;
  color: black;
  font-weight: bolder;

}

.footer-logo {
  width: 10vw;
}

.footer-links {
  width: 43vw;
}

@media screen and (min-width:320px)and (max-width:425px) {
  .toolbar-l {
    width: 18vw;
  }

  .toolbar-l a {
    font-size: 0 !important;
  }

  .toolbar-m {
    width: 20.5vw;
    background-color: bisque;
  }

  .toolbar-m select {
    width: 23vw !important;
  }

  .toolbar-r a {
    font-size: 0px !important;
  }

  .cover {
    height: 60vh;
  }

  .cover img {
    height: 52vh;
    object-fit: cover;
  }

  .comment {
    height: 60vh;
  }

  .body-text h1 {
    font-size: 1.0rem !important;
  }

  .body-text p {
    font-size: 0.8rem !important;
  }

  .video1 {
    height: 30vh;
    width: 83.2%;
    ;
  }

  .video1 iframe {
    width: 79vw !important;
    height: 25vh !important;
  }

  .video1 div {
    width: 76vw !important;
  }

  .video1 div p {
    font-size: 0.8rem;
  }

  .big-comment .body-text {
    width: 56vw !important;
    height: 50vh !important;
  }

  .thirdimage {
    height: 45vh !important;
  }

  .thirdimage img {
    height: 42vh !important;
    object-fit: cover;
  }

  .last-comment {
    height: 89vh !important;
  }

  .lastcomment {
    display: flex !important;
    flex-direction: column !important;
  }

  .lastcomment-container {
    flex-direction: column;
    width: 83vw !important;
  }

  .lastcomment-container img {
    width: 59vw !important;
    height: 20vh;
  }

  .commentlast {
    width: 59vw;
    height: 44vh;
  }

  .commentlast h1 {
    font-size: 0.8rem;
  }

  .commentlast h2 {
    margin-top: 1vh;
    font-size: 0.8rem;
  }

  .last-image {
    width: 59vw;
  }

  .footer {
    height: 175vh;
  }

  .title-footer {
    margin-top: 0 !important;
    height: 7vh;
  }

  .footer-body {
    height: 154vh;
  }

  .footer-footer {
    height: 54vh;
  }

  .footer-logo {
    width: 41vw;
  }

  .footer-links {
    width: 34vw;
  }

  .footer-item input {
    width: 45vw !important;
  }

  .footer-item button {
    width: 29% !important;
  }
}

@media screen and (min-width:426px)and (max-width:677px) {
  .toolbar-l {
    width: 18vw;
  }

  .toolbar-l a {
    font-size: 0 !important;
  }

  .toolbar-m {
    width: 20.5vw;

  }

  .toolbar-m select {
    width: 23vw !important;
  }

  .toolbar-r a {
    font-size: 0px !important;
  }

  .cover {
    height: 60vh;
  }

  .cover img {
    height: 52vh;
    object-fit: cover;
  }

  .comment {
    height: 60vh;
  }

  .body-text h1 {
    font-size: 1.1rem !important;
  }

  .body-text p {
    font-size: 1rem !important;
  }

  .video1 {
    height: 42vh;
    width: 83.2%;

  }

  .video1 iframe {
    width: 79vw !important;
    height: 35vh !important;
  }

  .video1 div {
    width: 76vw !important;
  }

  .video1 div p {
    font-size: 1rem;
  }

  .big-comment .body-text {
    width: 56vw !important;
    height: 71vh !important;
  }

  .big-comment {
    height: 71vh !important;
  }

  .thirdimage {
    height: 45vh !important;
  }

  .thirdimage img {
    height: 42vh !important;
    object-fit: cover;
  }

  .last-comment {
    height: 89vh !important;
  }

  .lastcomment {
    display: flex !important;
    flex-direction: column !important;
  }

  .lastcomment-container {
    flex-direction: column;
    width: 83vw !important;
  }

  .lastcomment-container img {
    width: 59vw !important;
    height: 20vh;
    object-fit: cover;
  }

  .commentlast {
    width: 59vw;
    height: 44vh;
  }

  .commentlast h1 {
    font-size: 1rem;
    width: 41vw !important;
  }

  .commentlast h2 {
    margin-top: 1vh;
    font-size: 1rem;
    width: 41vw !important;
  }

  .last-image {
    width: 59vw;
  }

  .footer {
    height: 175vh;
  }

  .title-footer {
    margin-top: 0 !important;
    height: 7vh;
  }

  .footer-body {
    height: 154vh;
  }

  .footer-footer {
    height: 54vh;
  }

  .footer-logo {
    width: 41vw;
  }

  .footer-links {
    width: 34vw;
  }

  .footer-item input {
    width: 45vw !important;
  }

  .footer-item button {
    width: 29% !important;
  }
}

@media screen and (min-width:678px)and (max-width:985px) {
  .toolbar-l {
    width: 18vw;
  }

  .toolbar-l a {
    font-size: 0 !important;
  }

  .toolbar-m {
    width: 20.5vw;

  }

  .toolbar-m select {
    width: 12vw !important;
  }

  .toolbar-r a {
    font-size: 0px !important;
  }

  .cover {
    height: 60vh;
  }

  .cover img {
    height: 52vh;
    object-fit: cover;
  }

  .comment {
    height: 60vh;
  }

  .body-text h1 {
    font-size: 1.1rem !important;
  }

  .body-text p {
    font-size: 1rem !important;
  }

  .video1 {
    height: 45vh;
    width: 83.2%;

  }

  .video1 iframe {
    width: 79vw !important;
    height: 44vh !important;
  }

  .video1 div {
    width: 76vw !important;
  }

  .video1 div p {
    font-size: 1rem;
  }

  .big-comment .body-text {
    width: 56vw !important;
    height: 71vh !important;
  }

  .big-comment {
    height: 71vh !important;
  }

  .thirdimage {
    height: 45vh !important;
  }

  .thirdimage img {
    height: 42vh !important;
    object-fit: cover;
  }

  .last-comment {
    height: 89vh !important;
  }

  .lastcomment {
    display: flex !important;
    flex-direction: column !important;
  }

  .lastcomment-container {
    flex-direction: column;
    width: 83vw !important;
  }

  .lastcomment-container img {
    width: 59vw !important;
    height: 20vh;
    object-fit: cover;
  }

  .commentlast {
    width: 59vw;
    height: 44vh;
  }

  .commentlast h1 {
    font-size: 1rem;
    width: 41vw !important;
  }

  .commentlast h2 {
    margin-top: 1vh;
    font-size: 1rem;
    width: 41vw !important;
  }

  .last-image {
    width: 59vw;
  }

  .footer {
    height: 175vh;
  }

  .title-footer {
    margin-top: 0 !important;
    height: 7vh;
  }

  .footer-body {
    height: 154vh;
  }

  .footer-footer {
    height: 54vh;
  }

  .footer-logo {
    width: 41vw;
  }

  .footer-links {
    width: 34vw;
  }

  .footer-item input {
    width: 45vw !important;
  }

  .footer-item button {
    width: 29% !important;
  }
}

@media screen and (min-width:986px)and (max-width:1312px) {
  .toolbar-l {
    width: 18vw;
  }

  .toolbar-l a {
    font-size: 0 !important;
  }

  .toolbar-m {
    width: 20.5vw;

  }

  .toolbar-m select {
    width: 10vw !important;
  }

  .toolbar-r a {
    font-size: 0px !important;
  }

  .cover {
    height: 60vh;
  }

  .cover img {
    height: 52vh;
    object-fit: cover;
  }

  .comment {
    height: 60vh;
  }

  .body-text h1 {
    font-size: 1.1rem !important;
  }

  .body-text p {
    font-size: 1rem !important;
  }

  .video1 {
    height: 45vh;
    width: 83.2%;

  }

  .video1 iframe {
    width: 79vw !important;
    height: 44vh !important;
  }

  .video1 div {
    width: 76vw !important;
  }

  .video1 div p {
    font-size: 1rem;
  }

  .big-comment .body-text {
    width: 56vw !important;
    height: 71vh !important;
  }

  .big-comment {
    height: 71vh !important;
  }

  .thirdimage {
    height: 45vh !important;
  }

  .thirdimage img {
    height: 42vh !important;
    object-fit: cover;
  }

  .last-comment {
    height: 89vh !important;
  }

  .lastcomment {
    display: flex !important;
    flex-direction: column !important;
  }

  .lastcomment-container {
    flex-direction: column;
    width: 83vw !important;
  }

  .lastcomment-container img {
    width: 59vw !important;
    height: 20vh;
    object-fit: cover;
  }

  .commentlast {
    width: 59vw;
    height: 44vh;
  }

  .commentlast h1 {
    font-size: 1rem;
    width: 41vw !important;
  }

  .commentlast h2 {
    margin-top: 1vh;
    font-size: 1rem;
    width: 41vw !important;
  }

  .last-image {
    width: 59vw;
  }

  .footer {
    height: 175vh;
  }

  .title-footer {
    margin-top: 0 !important;
    height: 7vh;
  }

  .footer-body {
    height: 154vh;
  }

  .footer-footer {
    height: 54vh;
  }

  .footer-logo {
    width: 41vw;
  }

  .footer-links {
    width: 34vw;
  }

  .footer-item input {
    width: 45vw !important;
  }

  .footer-item button {
    width: 29% !important;
  }
}

@media screen and (min-width:1313px)and (max-width:1800px) {
  .toolbar-l a {
    font-size: 1.2rem;
  }

  .toolbar-m select {
    height: 0;
  }

  .commentlast {
    height: 75.5vh;
  }

  .footer {
    height: 102vh;
  }

  .footer-body {
    height: 72vh;
  }

  .footer-item div {

    justify-content: start !important;
  }
}

@media screen and (min-width:1313px)and (max-width:1980px) {
  .toolbar-m select {
    height: 0;
  }

  .commentlast {
    height: 75.5vh;
  }
}
