<div class="div-main">
    <section id="#toolbar">
        <div class="flex justify-content-center">
            <div class="toolbar">
                <div class="toolbar-l">
                    <img src="https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/images/ableton-hallmark.ef5355379032.svg" style="width: 60px; height: 50px;">
                    <a href="">Live</a>
                    <a href="">Push</a>
                    <a href="">Note</a>
                    <a href="">Link</a>
                    <a href="">Shop</a>
                    <a href="">Packs</a>
                    <a href="">Help</a>
                    <a style="color: orange; " href="">More +</a>
                </div>
                <div class="toolbar-m flex align-items-center">
                  <select style="width: 5vw; font-size: 1.2rem; " >
                    <option selected hidden>Menu</option>
                    <option >Live</option>
                    <option >Push</option>
                    <option >Note</option>
                    <option >Link</option>
                    <option >Shop</option>
                    <option >Packs</option>
                    <option >Help</option>
                    <option style="color: orange;" >More +</option>
                  </select>
                </div>
                <div class="toolbar-r">
                    <a style="color: blue;" href="">Try Life for free</a>
                    <a style="font-size: medium;" href="">Log in or register</a>
                </div>
            </div>
        </div>
    </section>
    <section id="#cover">
        <div class="flex justify-content-center pt-2">
            <div class="cover">
                <img src="../assets/images/pexels-pixabay-164938.jpg" alt="">
            </div>
        </div>
    </section>
    <section id="#firstcommment">
        <div class="flex justify-content-center">
            <div class="comment">
                <div class="body-text">
                    <h1 style="font-size: 1.7rem; margin-bottom: 2vh;">
                        We make
                        <a href="">Live</a>
                        ,
                        <a href="">Push</a>
                        and
                        <a href="">Link</a>
                        — unique software and hardware for
                        music creation and performance. With these products, our
                        community of users creates amazing things.
                    </h1>
                    <p style="font-size: 1.2rem;">
                        Ableton was founded in 1999 and released the first version of Live in 2001. Our products are used by a
                 community of dedicated musicians, sound designers, and artists from across the world.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="#firstimage">
        <div class="flex justify-content-center ">
            <div class="imagenscontent1 ">
                <div style=" padding-left: 10vw; z-index: 2;" class="img1l flex justify-content-center align-items-center">
                    <img style="width: 35vw; height: 35vw ; " src="https://ableton-production.imgix.net/about/photo-1.jpg?fit=crop&h=569&ixjsv=1.1.3&w=569" alt="">
                </div>
                <div style="background-color: #FBFFA7; z-index: 1; padding-left: 10vw;" class="img1r flex justify-content-center align-items-center">
                    <img style="width: 25vw; height: 21vw;" src="https://ableton-production.imgix.net/about/photo-2.jpg?fit=crop&h=341&ixjsv=1.1.3&w=455" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="#secondcomment ">
        <div class="flex justify-content-center">
            <div class="comment ">
                <div class="body-text  mt-8 mb-5">
                    <h1 style="font-size: 1.8rem; font-weight: bold;">
                        Making music isn’t easy. It takes time, effort, and learning. But when you’re in the flow, it’s incredibly rewarding.
                    </h1>
                    <p style="font-size: 1.2rem; margin-top: 2vh;">
                        We feel the same way about making Ableton products. The driving force behind Ableton is our passion for what we make, and the people we make it for.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="#firstvideo">
        <div class="flex justify-content-center">
            <div class="video1">
                <iframe
                    src="https://www.youtube.com/embed/9SbnhgjeyXA"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen
                ></iframe>
                <div class="flex justify-content-start mt-2" style="width: 83vh;font-style: italic;font-weight: 600;">
                    <p>Why Ableton - Juanpe Bolivar</p>
                </div>
            </div>
        </div>
    </section>
    <section id="#thirdcomment ">
        <div class="flex justify-content-center">
            <div class="big-comment ">
                <div class="body-text mb-5" style="width: 44vw;">
                    <h1 style="font-size: 1.8rem; font-weight: bold;">
                        We are more than 350 people from 30 different countries divided between our headquarters in Berlin and our offices in Los Angeles and Tokyo.
                    </h1>
                    <p style="font-size: larger; margin-top: 15px;">
                        Most of us are active musicians, producers, and DJs, and many of us use Live and Push every day. We come from a wide range of cultural and professional backgrounds.
                        Some of us have PhDs, some are self-taught, and most of us are somewhere in between. What connects us is the shared belief that each of us has the skills and knowledge to contribute to something big: helping to shape the future of music culture.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="#secondimagen">
        <div class="flex justify-content-center ">
            <div class="imagenscontent2">
                <div style=" z-index: 1;" class="img2l flex justify-content-evenly align-items-center  flex-column">
                    <img style="width: 25vw; height: 20vw ; " src="https://ableton-production.imgix.net/about/photo-3.jpg?fit=crop&h=349&ixjsv=1.1.3&w=465" alt="">
                    <img style="width: 25vw; height: 20vw ; " src="https://ableton-production.imgix.net/about/photo-4.jpg?fit=crop&h=349&ixjsv=1.1.3&w=465" alt="">
                </div>
                <div style="background-color: white; padding-right: 12vw;" class="img2r flex align-items-center justify-content-center">
                    <img style="width: 35vw; height: 35vw; z-index: 2;" src="https://ableton-production.imgix.net/about/photo-5.jpg?fit=crop&h=581&ixjsv=1.1.3&w=581" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="#fourthcomment ">
        <div class="flex justify-content-center ">
            <div class="big-comment ">
                <div class="body-text mt-8">
                    <h1 style="font-size: 1.8rem; font-weight: bold;">
                        We believe it takes focus to create truly outstanding instruments. We only work on a few products and we strive to make them great.
                    </h1>
                    <p style="font-size: 1.3rem; margin-top: 15px; font-weight: normal;font-stretch: expanded;">
                        Rather than having a one-size-fits-all process, we try to give our people what they need to work their magic and grow. We’ve
                    learned that achieving the best results comes from building teams that are richly diverse, and thus able to explore problems from a wider set of perspectives.
                    We don’t always agree with each other, but opinion and debate are valued and openly encouraged.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="#thirdimage">
        <div class="flex justify-content-center">
            <div class="thirdimage flex justify-content-center align-items-center ">
                <img style="width: 65vw; height: 75vh;" src="https://ableton-production.imgix.net/about/poster-meet-the-makers.jpg?auto=format&fit=crop&fm=jpg&ixjsv=1.1.3&w=1163" alt="">
            </div>
        </div>
    </section>
    <section id="fivecomment">
        <div class="flex justify-content-center ">
            <div class="big-comment " style="height: 65vh;">
                <div style="width: 46vw;" class="body-text mt-1 mb-8">
                    <h1 style="font-size: 1.8rem; font-weight: bold;">
                        We’re passionate about what we do, but we’re equally passionate about improving who we are.
                    </h1>
                    <p style="font-size: 1.27rem; margin-top: 15px; font-weight: normal;">
                        We work hard to foster an environment where people can grow both personally and
                  professionally, and we strive to create a wealth of opportunities to learn from and with each other.
                    </p>
                    <p style="font-size: 1.27rem; margin-top: 15px; font-weight: normal;">
                        Alongside an internal training program, employees are actively supported in acquiring new knowledge and
                  skills, and coached on applying these in their daily work. In addition, staff-organized development and
                  music salons are a chance to discuss new technologies, production techniques and best practices.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="fourthimage">
        <div class="flex justify-content-center">
            <div class="imagenscontent3">
                <div style=" z-index: 1;" class="img3 flex align-items-center justify-content-evenly">
                    <div style="z-index: 1; padding-right: 2vw;">
                        <img style="width: 29vw; height: 20vw ; padding-right: 3vw;" src="https://ableton-production.imgix.net/about/photo-6-a.jpg?fit=crop&h=349&ixjsv=1.1.3&w=465" alt="">
                    </div>
                    <div style="z-index: 1;padding-left: 2vw;">
                        <img style="width: 45vw; height: 40vw ;" src="https://ableton-production.imgix.net/about/photo-7.jpg?fit=crop&h=582&ixjsv=1.1.3&w=582" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sixcomment">
        <div class="flex justify-content-center ">
            <div class="last-comment " style="height: 55vh;">
                <div style="width: 49vw;" class="body-text mt-8 mb-4">
                    <h1 style="font-size: 1.7rem; font-weight: bold; font-style: unset;">
                        We want our employees to love it here. Since we’re looking for exceptional talent from around the world, we
                        will do everything we can to make your transition as easy as possible.
                    </h1>
                    <p style="font-size: 1.27rem; margin-top: 15px; font-weight: 100;">
                        If you're joining us in Berlin, we'll help with relocation and paperwork. We’ll even provide you with free
                        German or English lessons. Plus, working in Germany means you can expect comprehensive health insurance for
                        you and your family, as well as generous maternity and paternity leave. Office hours are flexible, but it’s
                        not all work; we have several company and team outings throughout the year as well as a variety of fun, informal
                        small-group activities.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="#lastcomment">
        <div class="flex justify-content-center">
            <div class="lastcomment flex justify-content-center ">
                <div style="width: 70vw;" class="flex lastcomment-container align-items-center">
                    <div class="last-image">
                        <img style="width: 35vw;" src="https://ableton-production.imgix.net/about/photo-8.jpg?crop=right&dpr=3&fit=crop&h=625&ixjsv=1.1.3&q=33&w=625" alt="">
                    </div>
                    <div class="commentlast">
                        <h1 style="width: 25vw;">
                            We’re really proud of the work we’ve done so far. But there’s so much more to come. If you’d like to be a part of it, please join us.
                        </h1>
                        <h2 style="width: 25vw; color: blue;" class="flex justify-content-start">See latest jobs> </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div style="margin-top: 2px;" class="flex justify-content-center ">
            <div class="footer align-items-center ">
                <div class="title-footer mt-3">
                    <h1 style="font-size: 2.8rem;">Ableton</h1>
                </div>
                <div class="footer-body mb-2">
                    <div class="footer-item flex flex-column">
                        <a href="">Register Live or Push ></a>
                        <a href="">About Ableton ></a>
                        <a href="">Jobs ></a>
                    </div>
                    <div class="footer-item flex flex-column">
                        <h3>Education</h3>
                        <a href="">Offers for students and teachers</a>
                        <a href="">Ableton for the Classroom</a>
                        <a href="">Ableton for Colleges and Universities</a>
                    </div>
                    <div style="width: 450px; height: 27vh;" class="footer-item flex flex-column mb-2 ">
                        <h3>Sign up to our newsletter</h3>
                        <p>Enter your email address to stay up to date with the latest offers, tutorials, downloads, surveys and more.</p>
                        <div class="flex justify-content-center" style="width: 100%; margin-top: 1vh;">
                            <input style="width: 18vw; height: 4vh; background-color: #eee; font-size: 1.0rem; padding-left: 0.5vw;" type="text" placeholder="Email Address">
                            <button style="width: 22%; background-color: blue; color: white ; font-size: 1.0rem;">Sign up</button>
                        </div>
                    </div>
                    <div class="footer-item flex flex-column">
                        <h3>Community</h3>
                        <a href="">Find Ableton User Groups</a>
                        <a href="">Find Certified Training</a>
                        <a href="">Become a Certified Trainer</a>
                    </div>
                    <div class="footer-item flex flex-column">
                        <h3>Lenguage and Location</h3>
                        <div class="">
                            <select style="background-color: #eee;">
                                <option selected value="">English</option>
                                <option>Spanish</option>
                            </select>
                            <select style="background-color: #eee; margin-left: 1vw;">
                                <option selected> Please choose</option>
                                <option> United States</option>
                                <option>United Kingdom</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="footer-footer flex justify-content-between" >
                  <div class="footer-links" >
                    <a href="">Contact Us</a>
                    <a href="">Press Resource</a>
                    <a href="">Legal Info</a>
                    <a href="">Privacy Policy</a>
                    <a href="">Cookie Setting</a>
                    <a href="">Imprint</a>
                  </div>
                  <div class="flex justify-content-end align-items-center footer-logo " >
                    <label style="font-size: 0.7rem; margin-right: 1vw;" >Recreatred for <br> Fabrizio :) </label>
                    <img style="width: 60px;height: 50px;" src="https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/images/ableton-hallmark.ef5355379032.svg" alt="">
                  </div>
                </div>
            </div>
        </div>
    </footer>
</div>
