<div class="div-main">
    <section id="#toolbar">
        <div class="flex justify-content-center">
            <div class="toolbar">
                <div class="toolbar-l">
                    <img src="https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/images/ableton-hallmark.ef5355379032.svg" style="width: 60px; height: 50px;">
                    <a href="">Live</a>
                    <a href="">Push</a>
                    <a href="">Note</a>
                    <a href="">Link</a>
                    <a href="">Shop</a>
                    <a href="">Packs</a>
                    <a href="">Help</a>
                    <a style="color: orange; " href="">More +</a>
                </div>
                <div class="toolbar-m"></div>
                <div class="toolbar-r">
                    <a style="color: blue;" href="">Try Life for free</a>
                    <a style="font-size: medium;" href="">Log in or register</a>
                </div>
            </div>
        </div>
    </section>
    <section id="#cover">
        <div class="flex justify-content-center pt-2">
            <div class="cover">
                <img src="../assets/images/pexels-pixabay-164938.jpg" alt="">
            </div>
        </div>
    </section>
    <section id="#firstcommment">
        <div class="flex justify-content-center">
            <div class="first-comment">
                <div class="body-text">
                    <h1 style="font-size: xx-large;">
                        We make
                        <a href="">Live</a>
                        ,
                        <a href="">Push</a>
                        and
                        <a href="">Link</a>
                        — unique software and hardware for
                        music creation and performance. With these products, our
                        community of users creates amazing things.
                    </h1>
                    <p style="font-size: larger; margin-top: 15px;">
                        Ableton was founded in 1999 and released the first version of Live in 2001. Our products are used by a
                 community of dedicated musicians, sound designers, and artists from across the world.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="#firstimage">
        <div class="flex justify-content-center">
            <div class="imagenscontent1 ">
                <div  style=" padding-left: 10vw; z-index: 2;" class="img1l flex justify-content-center align-items-center">
                  <img style="width: 35vw; height: 35vw ; " src="https://ableton-production.imgix.net/about/photo-1.jpg?fit=crop&h=569&ixjsv=1.1.3&w=569" alt="">
                </div>
                <div style="background-color: #FBFFA7; z-index: 1; padding-left: 10vw;" class="img1r flex justify-content-center align-items-center" >
                  <img style="width: 25vw; height: 21vw;" src="https://ableton-production.imgix.net/about/photo-2.jpg?fit=crop&h=341&ixjsv=1.1.3&w=455" alt="">
                </div>

            </div>
        </div>
    </section>
</div>
