@import 'primeflex/primeflex.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Cypro+Minoan&family=Roboto:ital,wght@0,400;1,100&display=swap');
:root{
  --bg-color:#F3F3F3;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Noto Sans Cypro Minoan', sans-serif;
  border: 0;
}
